@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: "Amino Alt";
  margin: 0px;
  padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

#icon-select *::-webkit-scrollbar {
  width: 0.4em;
}

#icon-select *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}

#icon-select *::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, .1);
  border-radius: 20px;
}

#icon-select *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, .2);
  border-radius: 20px;
}

.drawer-button {
    transform: scale(1);
    position: absolute;
    bottom: 5px;
    right: 15px;
    transition: all 0.2s linear;
}

.hamburger-ingredients {
    background-color: #e6e6e6;
    opacity: 100%;
    margin: 7px auto;
    width: 50px;
    height: 2px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s linear;
}

#submit-btn {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

#submit-btn span {
  position: absolute;
  display: block;
}

#submit-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0088A8);
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

#submit-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0088A8);
  animation: btn-anim2 3s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

#submit-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0088A8);
  animation: btn-anim3 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

#submit-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0088A8);
  animation: btn-anim4 3s linear infinite;
  animation-delay: 2.25s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@font-face {
  src: url("../public/fonts/Amino-Alt\ 5/Amino Alt Medium.ttf")
    format("truetype");
  font-family: "Amino Alt";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.SectionHome {
  display: flex;
  gap: 15vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
}
.TextContainer {
  flex: 1;
  padding-top: 6vw;
  padding-left: 4vw;
}

.BtnContainer {
  display: flex;
  margin-top: 2.2vw;
  gap: 2vw;
  margin-left: 4.5vw;
}
.TextInfoContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
  margin-right: 7vw;
}
.TextInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  font-weight: 500;
}

.HeroImage {
  width: 40%;
  padding-right: 2vw;
  position: relative;
}
.RocketImage {
  width: 32vw;
  top: -5vw;
  right: 25vw;

  position: absolute;
}
.TrophyImage {
  width: 20vw;
  top: 32vw;
  left: 20vw;
  position: absolute;
}
.EllipseLeft {
  width: 15vw;
  top: 30vw;
  right: 35vw;
  position: absolute;
}

.EllipseRight {
  width: 10vw;
  top: 5vw;
  left: 25vw;

  position: absolute;
}

/********************************* Buttons*/
.Btn {
  font-size: 1.3vw;
  transition: all 0.1s;
  width: 13vw;
  padding: 1vw 1vw;
  font-weight: 600;
  border-radius: 200px;
  border: 0;
  cursor: pointer;
}
.Btn_main {
  color: white;
  background-color: #1971c2;
}

.Btn_main:hover {
  background-color: #1766af;
}

.Btn_side {
  color: #1971c2;
  background-color: white;
  outline: 2px solid #1971c2;
}
.Btn_side:hover {
  outline: 1px solid #1971c2;
}
.Shiny {
  content: "";
  position: absolute;
  height: 100px;
  width: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  transition: 0.7s;
  transform: rotate(40deg) translateX(-60) translateY(-60);
}
.gridSystem {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

