@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.SectionHome {
  display: flex;
  gap: 15vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
}
.TextContainer {
  flex: 1;
  padding-top: 6vw;
  padding-left: 4vw;
}

.BtnContainer {
  display: flex;
  margin-top: 2.2vw;
  gap: 2vw;
  margin-left: 4.5vw;
}
.TextInfoContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
  margin-right: 7vw;
}
.TextInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  font-weight: 500;
}

.HeroImage {
  width: 40%;
  padding-right: 2vw;
  position: relative;
}
.RocketImage {
  width: 32vw;
  top: -5vw;
  right: 25vw;

  position: absolute;
}
.TrophyImage {
  width: 20vw;
  top: 32vw;
  left: 20vw;
  position: absolute;
}
.EllipseLeft {
  width: 15vw;
  top: 30vw;
  right: 35vw;
  position: absolute;
}

.EllipseRight {
  width: 10vw;
  top: 5vw;
  left: 25vw;

  position: absolute;
}

/********************************* Buttons*/
.Btn {
  font-size: 1.3vw;
  transition: all 0.3s;
  width: 13vw;
  padding: 1vw 1vw;
  font-weight: 600;
  border-radius: 200px;
  border: 0;
  cursor: pointer;
}
.Btn_main {
  color: white;
  background-color: #1971c2;
}

.Btn_main:hover {
  background-color: #1766af;
}

.Btn_side {
  color: #1971c2;
  background-color: white;
  outline: 2px solid #1971c2;
}
.Btn_side:hover {
  outline: 1px solid #1971c2;
}
